body {
    font-family: sans-serif;
}

div.content {
    padding: 50px;
}

#results-table td,
#results-table th {
    padding: 4px;
}

tr.result.passed {
    background-color: lightgreen;
}

tr.result.skipped {
    background-color: papayawhip;
}
